@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & family= Fira+Sans:wght@100 & family= Poppins:wght@500 & family= Sedgwick+Ave & display=trocar');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #1B2029;
    color: white;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
}

main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: #8880FE;
    font-size: 3rem;
    margin-bottom: 3rem;
}

main .social-media {
    display: flex;
    align-content: center;
}

    main .social-media a {
        text-decoration: none;
    }

main .alternative {
    margin-top: 1rem;
}

main .alternative span {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
    
}

main .social-media img {
    width: 36px;
    margin-left: 3rem;
}
main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}   

main form label {
    display: flex;
    flex-direction: column;
}

main form label span {
    font-size: 1.1rem;
    margin-top: 2rem;
}
main form input {
    background: #161923;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 0.5rem;
    outline: none;
    color: rgba(166, 166, 166);
    font-size: 0.9rem;
    border: 1px solid #040B18;
    border-radius: 8px;
}
main form input[type="submit"] {
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border-radius: 32px;
    background: #574fe6;
    color: white;
    font-size: 1.0rem;

}

main form input[type="submit"]:hover {
    background: #4c46c2;
}

section.images {
    display: flex;
    align-items: flex-end;
    padding: 3rem;
    
}

section.images img {
    width: 500px;
}

section.images .circle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #E8CBC0, #636FA4);
    clip-path: circle(45% at right 80%);
    z-index: -1;  
}


    
